# .coveragerc to control coverage.py
[run]
branch = True

[report]
omit =
    *quantile*
    *requests*
    *protobuf*
    *metrics_pb2*

# Regexes for lines to exclude from consideration
exclude_lines =

    def __repr__
    def __str__

    if 0:
    if __name__ == .__main__.: